:root {
    --text-dark: #3c3c3c;
    --text-light: #fff;
    --text-large: 3rem;
}

.text-heading {
    font-size: var(--text-large);
    font-weight: bold;
    color: var(--text-dark);
}

p,
.p {
    color: var(--text-dark);
}

.info {
    @apply text-sm text-primary;
}

.link {
    @apply hover:underline cursor-pointer
}
