:root {
    --text-dark: #3d3d3d;
    --text-light: #fff;
    --text-large: 3rem;
}

.text-heading {
    font-size: var(--text-large);
    font-weight: bold;
    color: var(--text-dark);
}

p, .p {
    color: var(--text-dark);
}

.info {
    @apply text-sm text-primary;
}
