.page {
    height: 100vh;
}

.hiddenscrollbar {

    /* noscrollbar */
    ::-webkit-scrollbar {
        scrollbar-width: none !important;
        width: 0px !important;
        display: none !important;
    }
}

img {
    object-fit: cover;
}
